@charset "UTF-8";
/* @import 'filename.css'; */
/* импорт другого файла стилей (например, шрифта) - вебпак соберет и его*/
/* @import '~normalize.css'; */
/* тильда означает, что пакет нужно искать в node_modules */
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px; }

html, body {
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  height: 100%; }
  @media (max-width: 1024px) {
    .wrapper {
      max-width: 768px; } }
  @media (max-width: 768px) {
    .wrapper {
      max-width: 600px; } }
  @media (max-width: 425px) {
    .wrapper {
      max-width: 400px; } }
  @media (max-width: 375px) {
    .wrapper {
      max-width: 300px; } }

body {
  margin: 71px 0 0; }

.module__background {
  background-image: url(e36195b8d26eef6e683bff7632aac20f.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: -1; }

.module__hello {
  color: black;
  text-align: center;
  margin: 100px auto;
  background-color: white;
  font-size: 2.0rem;
  padding: 20px;
  width: 50%;
  border-radius: 15px;
  border: 2px solid mediumpurple; }

.section {
  color: green; }

.game {
  width: 100%;
  padding-top: 300px;
  box-sizing: border-box;
  color: black;
  padding: 100px; }

.game__background {
  background-image: url(3a18a1ccf64c7ce75d10dd99fb930f42.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: -1; }

.field {
  background-color: white;
  border-radius: 7px;
  padding: 20px;
  font-size: 1.4rem;
  box-sizing: border-box; }

.level__title, .level__current, .page__title, .page__current {
  padding: 6px 4px; }

.menu {
  display: flex;
  justify-content: space-between; }

.controls {
  display: flex; }

.menu__level, .menu__page {
  display: flex; }

.level__list, .page__list {
  position: relative; }

.level__list:hover, .page__list:hover {
  cursor: pointer; }

.level__current, .page__current {
  width: 50px;
  text-align: center;
  position: relative;
  border: 1px solid black; }

.level__current:hover, .page__current:hover {
  box-shadow: 0px 0px 4px -1px; }

.level__current::before, .page__current::before {
  position: absolute;
  display: block;
  content: "\25BD";
  right: 3px;
  font-size: 1.8rem;
  top: 3px; }

.level__menu, .page__menu {
  position: absolute;
  width: 58px;
  text-align: center;
  /* border: 1px solid black; */
  border: 1px solid darkgrey;
  /* display: none; */
  background-color: white;
  z-index: 2;
  box-shadow: 0px 0px 5px -2px; }

.level__menu .menu__item:hover, .page__menu .menu__item:hover {
  box-sizing: border-box;
  background-color: lightgrey;
  cursor: pointer; }

.menu__page {
  margin-left: 15px; }

.active {
  background-color: darkgray; }

.tips {
  display: flex; }

.tip__button {
  width: 32px;
  height: 32px;
  background-color: darkgrey;
  margin-left: 10px;
  background-size: 25px 25px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 7px; }

.tip__button:hover {
  /* background-color: rebeccapurple; */
  cursor: pointer; }

.pushed {
  background-color: purple; }

.autosound {
  background-image: url(1828b4a0db5264af0a52159b77f1da24.png); }

.translate {
  background-image: url(e2b82f0fe805d9c06d3cd5cb82b853f4.svg); }

.audio {
  background-image: url(1a6d206713563d63465108ac016704d9.svg); }

.picture {
  background-image: url(57dc985bd17fe1fd5d93ad7fd67315ac.svg); }

.sound__block {
  margin-top: 30px; }

.sound__icon {
  margin: 0 auto;
  background-image: url(ad62b7df73b4b5c26bacfdc146699e08.png);
  width: 40px;
  height: 40px;
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box; }

.sound__icon:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px -2px; }

.played {
  border: 2px solid green;
  border-radius: 7px; }

.translation__block {
  text-align: center;
  margin-top: 10px;
  font-size: 18px; }

.phrases {
  margin-top: 20px; }

.phrase {
  display: flex;
  flex-direction: row;
  line-height: 30px; }

.number {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid grey;
  /* border: 1px solid black; */
  text-align: center;
  box-shadow: 0px 0px 4px -2px;
  line-height: 34px; }

.phrase__words {
  margin-left: 10px;
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  width: calc(100% - 40px);
  box-shadow: 0px 0px 4px -2px;
  border: 1px solid lightgrey;
  /* border: 1px solid black; */
  border-bottom: none; }

.phrase:last-child .phrase__words {
  /* border-bottom: 1px solid black; */ }

.phrase__word {
  text-align: center;
  padding: 5px 10px;
  flex-grow: 1;
  /* border-right: 1px solid rgb(156, 144, 144); */
  border-right: 1px solid lightgray;
  position: relative; }

/* .phrase__word::after {
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    right: -14px;
    width: 14px;
    height: 12px;
    border: 1px solid lightgrey;
    border-left-color: transparent;
    border-radius: 50%;
} */
/* .phrase__word::before {
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    left: -3px;
    width: 14px;
    height: 12px;
    border: 1px solid lightgrey;
    border-left-color: transparent;
    border-radius: 50%;
} */
.phrase__word:last-child {
  border-right: none; }

.phrase__word:last-child::after {
  display: none; }

/* .phrase__word:first-child::before{
    display: none;
} */
.number__current {
  color: red; }

.empty__word {
  background-color: lightgrey;
  flex-grow: 0;
  box-sizing: border-box; }

.empty {
  background-color: lightgray;
  height: 40px;
  box-sizing: border-box; }

.phrase__words.empty .phrase__word {
  background-color: white;
  flex-grow: 0;
  box-sizing: border-box; }

.phrase__words.empty .phrase__word:hover {
  cursor: pointer;
  border: 1px solid darkgrey;
  /* border: 1px solid black; */ }

.phrase__words.empty.round__done:hover {
  cursor: unset; }

.task {
  margin-top: 30px;
  margin-left: 49px; }

.task__words {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  width: 100%;
  height: 40px; }

.task__word {
  border: 1px solid lightgray;
  border-right: none;
  text-align: center;
  padding: 5px 10px;
  line-height: 30px;
  flex-grow: 1; }

.task__word:last-child {
  border-right: 1px solid lightgray; }

.task__word:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px -2px;
  /* border: 1px solid black; */
  border: 1px solid darkgrey; }

.game__buttons {
  margin: 30px auto;
  display: flex;
  justify-content: center; }

.game__button {
  background-color: darkslateblue;
  color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 0 10px; }

.game__button.idk {
  background-color: mediumvioletred; }

.game__button.idk:hover {
  background-color: purple; }

.game__button.cont {
  background-color: green; }

.game__button.cont:hover {
  background-color: darkgreen; }

.game__button:hover {
  background-color: rebeccapurple;
  cursor: pointer; }

.hidden {
  display: none; }

.disabled {
  opacity: 0.5; }

.playing {
  border: 2px solid green;
  border-radius: 7px;
  animation: blinker 1s linear infinite alternate; }

.allGames {
  font-size: 2rem;
  color: white; }

.allGames__startScreen {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100vh; }
  .allGames__startScreen-hidden {
    display: none; }

.allGames__description {
  text-align: center; }

.allGames__timerScreen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .allGames__timerScreen-hidden {
    display: none; }

.allGames__timer {
  font-size: 6rem; }

.allGames__tip {
  position: absolute;
  bottom: 30px;
  text-align: center; }

.allGames__playScreen-hidden {
  display: none; }

@charset "UTF-8";
/* @import 'filename.css'; */
/* импорт другого файла стилей (например, шрифта) - вебпак соберет и его*/
/* @import '~normalize.css'; */
/* тильда означает, что пакет нужно искать в node_modules */
.speak__container {
  color: black;
  font-size: 18px;
  width: 100%;
  height: 100%;
  margin: -71px auto 0 auto;
  background-image: url(e10a78afb1c3238e45f8c457740f4724.jpg);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center; }

.speak__container > div {
  overflow-y: scroll;
  height: 100vh;
  scrollbar-width: none; }

.speak__container > div::-webkit-scrollbar {
  width: 0; }

.speak__container .allGames__playScreen-hidden {
  display: none !important; }

.speak__container h1 {
  text-align: center; }

.speak__container .button:active, .speak__container .start__button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.speak__container .start {
  width: 100%;
  height: 100%;
  padding: 100px;
  padding-top: 20%;
  box-sizing: border-box;
  /* transition: opacity 0.5s; */ }

.speak__container .allGames__timerScreen {
  flex-direction: column; }

.speak__container .allGames__tip {
  position: relative;
  margin-top: 30px; }

.speak__container .allGames__playMods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .speak__container .allGames__playMods > div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 270px;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box; }
  .speak__container .allGames__playMods .levels__container {
    display: flex;
    justify-content: space-between;
    padding: 10px; }

.speak__container .start__elements {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35%;
  margin: auto auto;
  text-align: center;
  justify-content: space-around; }

.speak__container .page__title {
  font-size: 2.5rem; }

.speak__container .page__description {
  font-size: 1.8rem; }

.speak__container .repeat__button {
  padding: 10px 0px;
  width: 120px;
  margin: 0 auto;
  font-size: 1.5rem;
  background-color: lightskyblue;
  color: white;
  border-radius: 5px;
  text-align: center; }

.speak__container .repeat__button:hover {
  cursor: pointer;
  background-color: cornflowerblue; }

.speak__container .hidden {
  display: none; }

.speak__container .game {
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box; }

.speak__container .lev {
  height: 10px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: lightskyblue;
  box-sizing: border-box;
  margin-right: 10px;
  transition: width 0.5s ease-out;
  box-shadow: 0px 0px 5px -2px; }

.speak__container .lev:hover {
  background-color: mediumslateblue;
  cursor: pointer;
  height: 25px;
  width: 25px; }

.speak__container .active {
  background-color: mediumslateblue;
  cursor: pointer;
  height: 25px;
  width: 25px; }

.speak__container .repeat__container p {
  text-align: center; }

.speak__container .pic__container {
  width: 100%;
  margin: 0 auto; }

.speak__container .pic__image {
  width: 400px;
  height: 100%;
  /* background-image: url(../img/words/cry.jpg); */
  background-repeat: no-repeat;
  margin: 20px auto; }

.speak__container .pic__image img {
  display: block;
  box-shadow: 0px 0px 4px 0px;
  margin: 0 auto; }

.speak__container .pic__translate {
  font-size: 18px;
  height: 28px;
  text-align: center;
  width: 250px;
  margin: 15px auto 40px auto;
  box-sizing: border-box; }

.speak__container .translation-correct {
  border: 2px solid lightgreen; }

.speak__container .translation-error {
  border: 2px solid red; }

.speak__container .words__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.speak__container .word {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 18%;
  min-width: 200px;
  height: 70px;
  margin-bottom: 30px;
  border: 1px solid grey;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
  background-color: RGBA(200, 220, 137, 0.75); }

.speak__container .word:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75); }

.speak__container .pushed {
  background-color: lightgray; }

.speak__container .correct {
  background-color: lightgreen; }

.speak__container .word__icon {
  width: 30px;
  height: 30px;
  background-image: url(72cff5578cbb84b3e5347615b99cf088.svg);
  background-size: cover; }

.speak__container .word__word {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1; }

.speak__container .word__transcription {
  font-size: 15px;
  color: grey; }

.speak__container .buttons__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  font-size: 2.0rem;
  text-align: center; }

.speak__container .button {
  height: 70px;
  background-color: rgba(255, 154, 51, 0.9);
  border-radius: 4px;
  box-sizing: border-box;
  line-height: 70px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 10px; }

.speak__container .button__restart {
  flex-grow: 1; }

.speak__container .button__speak, .speak__container .button__results {
  width: 50%;
  align-self: center; }

.speak__container .button__results {
  width: 50%;
  align-self: center;
  display: none; }

.speak__container .button__next {
  flex-grow: 1; }

.speak__container .button__startScreen2 {
  width: 30%;
  align-self: center;
  background-color: rgba(255, 200, 100, 0.9); }

.speak__container .button__startScreen {
  flex-grow: 1; }

.speak__container .button__repeat {
  flex-grow: 1; }

.speak__container .button:hover {
  cursor: pointer;
  background-color: #ffb833; }

.speak__container .activated {
  display: none; }

.speak__container .results {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  text-align: center; }

.speak__container .result__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  font-size: 2.0rem;
  text-align: center; }

.speak__container .button__global {
  flex-grow: 2; }

.speak__container .results__header {
  text-align: center;
  font-size: 2.0rem; }

.speak__container .global__header {
  text-align: center;
  font-size: 2.0rem; }

.speak__container .results__errors {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  font-size: 1.8rem; }

.speak__container .results__words {
  max-width: 500px;
  margin: 20px auto;
  font-size: 1.4rem; }

.speak__container .stat__word {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: left;
  border-bottom: 1px solid lightgray;
  height: 40px; }

.speak__container .stat__word:hover {
  background-color: lightgray;
  cursor: pointer; }

.speak__container .stat__word .text, .speak__container .stat__word .transcription, .speak__container .stat__word .translate {
  width: 30%;
  align-self: center; }

.speak__container .stat__word .sound__icon {
  width: 10%;
  background-image: url(72cff5578cbb84b3e5347615b99cf088.svg);
  background-repeat: no-repeat; }

.speak__container .global {
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
  height: 100vh; }

.speak__container .global__header {
  text-align: center;
  font-size: 2.0rem;
  margin-bottom: 20px; }

.speak__container .results__words {
  background-color: #f4f4f4; }

.speak__container .global__results {
  width: 100%;
  background-color: #f4f4f4; }

.speak__container .global__results table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px; }

.speak__container .global__results table td, .speak__container .global__results table th {
  border: 1px solid lightgray; }

.speak__container .global__results table th {
  font-size: 1.8rem; }

.speak__container .global__results table td {
  font-size: 1.4rem; }

.speak__container .td__datetime, .speak__container .td__errors {
  width: 15%; }

.speak__container .td__words {
  width: 65%; }

.speak__container .global__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  font-size: 2.0rem;
  text-align: center;
  margin-bottom: 20px; }

.speak__container .allGames__timerScreen, .speak__container .allGames__startScreen {
  height: 100vh; }

.speak__container .allGames__playScreen {
  height: 100vh; }

.speak__container .button__stats {
  flex-grow: 1; }

@media (max-width: 1120px) {
  .speak__container .allGames__playScreen {
    height: 100%; } }

@media (max-width: 1120px) {
  .speak__container .allGames__playScreen {
    height: 100%; } }

@media (max-width: 768px) {
  .speak__container .buttons__container {
    justify-content: center; }
  .speak__container .button {
    width: 80%; } }

@media (max-width: 510px) {
  .speak__container .results__words {
    font-size: 1rem;
    margin: 5px auto; }
  .speak__container .pic__image {
    width: auto;
    background-size: 100%;
    margin-top: 20px; }
    .speak__container .pic__image img {
      width: 90%; }
  .speak__container .buttons__container {
    justify-content: center; }
  .speak__container .button {
    width: 80%; }
  .speak__container .words__container {
    justify-content: center; }
  .speak__container .word {
    width: 100%; } }

.savannah {
  margin-top: -71px; }

.savannah__startScreen {
  background-color: green; }

.savannah__timerScreen {
  background-color: blue; }

.savannah__playScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: violet; }

.header {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  position: fixed;
  width: 100vw;
  z-index: 1;
  top: 0; }

.header__content {
  display: flex;
  justify-content: space-between;
  padding: 10px 0; }

.header__logo a {
  text-decoration: none;
  color: black; }
  .header__logo a:hover {
    color: orange; }

.header__nav {
  display: flex; }

.header__navList {
  margin: 16px 0; }

.header__navItem {
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px; }

.header__navItem a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 600; }
  .header__navItem a:hover {
    color: orange; }

.footer {
  background-color: #37383c; }

.footer__content {
  text-align: center; }

.footer__links {
  padding: 20px 0; }

.footer__navList {
  padding: 0; }

.footer__navItem {
  display: inline;
  text-decoration: none;
  margin: 10px; }

.footer__navItem a {
  text-decoration: none;
  color: #e6e9ee;
  font-size: 1.5rem;
  font-weight: 500; }
  .footer__navItem a:hover {
    color: orange; }

.footer__copyright {
  color: #e6e9ee;
  padding: 20px 0;
  font-size: 1.2rem; }

