body {

}
div.startField, div.endField{
  display: flex;
    width: 90%;
    font-size: 18px;
    height: 28px;
    border: 1px solid black;
    margin: 10px;

}
div.startField{
  flex-wrap: wrap;
  height: auto;
}
div.word {
  border-radius: 2px;
  margin: 0 3px 0 3px;
  cursor: pointer;
  padding: 5px;

  flex-grow: 0;

}


.space {
  width: 5px;
  flex-grow: 0;
}
.space0 {

  flex-grow: 1;
}

.droppable {

}
.unvisible {
  visibility: hidden;
}
